* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.col {
    flex-direction: row;
    width: 250px;

}

.body {
    display: flex;
}

ul {
    list-style: none;
}
/**************
HEADER RULES
*************/

.main_header {
    background-color: rgb(255, 94, 0);
    width: 1900px;
    height: 50px;
    position: fixed;
    margin-bottom: 50px;
    justify-content: space-between;

}



/**************
CONTEINER AND ROW RULES
*************/

.conteiner {
    width: 1000px;
    height: 1000px;
    padding-left: 300px;

}

.row {
    display: flex;
    width: 1000px;
    height: 400px;
    margin-top: 100px;
    margin-left: 200px;
    padding: 20px;
    justify-content: space-between;
}

/**************
CARD RULES
*************/

section {
    flex-direction: row;
    width: 250px;
    height: 350px;
    position:absolute;
    

}
.card_1 {
    background-image: url('../img/1.webp');
    background-size: cover;
}


.card_2 {
    background-image: url('../img/2.webp');
    background-size: cover;
}

.card_3 {
    background-image: url('../img/3.webp');
    background-size: cover;
}

.card_4 {
    background-image: url('../img/4.webp');
    background-size: cover;
}

.card_5 {
    background-image: url('../img/5.webp');
    background-size: cover;
}

.card_6 {
    background-image: url('../img/6.webp');
    background-size: cover;
}


/**************
BOX RULES
*************/

.box {
    background-color: red;
    width: 40px;
    height: 20px;
    color: white;
    position: absolute;
    bottom: 20px;
    z-index: 2;
}

.box_green{
    background-color: green;
    width: 90px;
    height: 20px;
    color: white;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    left: 45px;
}

.box_green_left{
    background-color: green;
    width: 90px;
    height: 20px;
    color: white;
    position: absolute;
    bottom: 20px;
    z-index: 1;
}


.box_heart{
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: black;
    position: absolute;
    top: 10px;
    right: 0px;
    text-align: center;
}

/**************
TEXT RULES
*************/

.text {
    padding-top: 350px;
}

.red {
    color: red;
}

/**************
FOOTER RULES
*************/

.main_footer {
    background-color: rgb(14, 13, 13);
    width: 2000px;
    height: 50px;
    justify-content: space-between;

}

/**********
BONUS HOVER RULES
*********/
.card_1:hover {
    background-image: url('../img/1b.webp');
}

.card_2:hover {
    background-image: url('../img/2b.webp');
}

.card_3:hover {
    background-image: url('../img/3b.webp');
}

.card_4:hover {
    background-image: url('../img/4b.webp');
}

.card_5:hover {
    background-image: url('../img/5b.webp');
}

.card_6:hover {
    background-image: url('../img/6b.webp');
}

